body {
    font-weight: 300;
}

h1 {
    font-weight: 300;
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 10px;
    margin-bottom: 25px;

    @media (max-width: $screen-sm-min) {
        font-size: 1.4em;
        margin-bottom: 10px;
    }
}

.glyphicon.spinning {
    animation: spin 1.5s infinite linear;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: $screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: $screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: $screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.pagination-section {
    padding: 15px 0 0 0;

    .pagination {
        margin: 0;
    }
}

.no-results {
    text-align: center;
    padding: 20px;
    border: 1px dashed $brand-primary;
    margin: 20px 0;
}
